<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1315386-20"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-1315386-20');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ada's Adventures in Science">
    <meta name="author" content="Edward Gomez">
    <title>{% block title %}{% endblock %}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Meie+Script&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles.css" />
    <link rel="icon" href="{{ SITEURL }}/theme/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="is-fullheight">
    
    <nav class="ada-navbar" role="navigation" aria-label="main navigation">
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <div id="navMenu" class="navbar-menu">
          <a href="/comics/" class="navbar-item" >
            Comics
          </a>
            <a href="/education/" class="navbar-item">
              Education
            </a>
      <div class="has-text-centered  ada-navbar-logo">
        <a href="/" class="navbar-item"><img
          src="{{ SITEURL }}/images/ada_head_icon.jpg"
          alt="Ada's Adventures"
          style="height: 50px"
        /></a>
      </div>
        <a class="navbar-item"href="/about/">
            About</a>
        <a class="link navbar-item" href="/contact/">
            Contact Us</a>
      </div>
    </nav>

    {% block outercontent %}
       <section class="header">
        <div class="container">
        <img src="{{ SITEURL }}/images/title_wide.jpg" alt="Ada's Adventures in Science header" class="u-max-full-width"/>
        </div>
      </section>

      
      <section>
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </section>
  {% endblock %}

    <footer class="footer">
        <!-- Copyright symbol of company -->
      <div class="has-text-centered">
            <p>&copy; <a href="https://www.zemogle.net">Edward Gomez</a> and <a href="https://www.laurasorvala.com/">Laura Sorvala Illustration</a></p>
      </div>

  <!-- Three columns created using columns class of Bulma -->
  <div class="columns">
      <!-- Column 1 -->
    <div class="column">

      <!-- Heading is left aligned, medium weight -->
      <h4 class="has-text-left">
        Ada's Adventures in Science
      </h4>

      <!-- footer content -->
      <p class="bd-footer-link 
                has-text-left">
        Bringing science to life through storytelling
      </p>

    </div>

    <!-- Column 2 -->
    <div class="column">
      <h4 class="has-text-justify">
        Explore
      </h4>

      <!-- Column 2 lists with links -->
      <p class="bd-footer-link">
        <ul>
          <li><a href="/about/">About Ada's Adventures</a></li>
          <li><a href="/news/">News</a></li>
          <li><a href="/educaiton/">Education Activities</a></li>
          <li><a href="/news/">News</a></li>
        </ul>
      </p>

    </div>

    <!-- Column 3 -->
    <div class="column">
          <figure class="image is-128x128">
            <img src="{{ SITEURL }}/theme/images/ada_footer.png" alt="Ada's Adventures" />
          </figure>
    </div>
  </div>
</footer>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

});
</script>
  </body>

</html>
    
