{% extends "base.html" %}
{% block outercontent %}

<section class="section banner">
    <div class="container">
        <div class="columns">
            <div class="is-half column">
                <div class="icon-level">
                    <img src="{{ SITEURL }}/images/adventures_in_science_sm.jpg" alt="Ada's Adventures in Science header" class="u-max-full-width" />
                </div>
            </div>
            <div class="column">
                <div class="tag-line">
                <h1>Inspiration through stories</h1>
                <p>This series of illustrated comics follows Ada as she embarks on adventures that explore what it means to do science and be a scientist. Each comic combines engaging storytelling with accurate scientific explanations, making complex ideas accessible and fun for children and educators alike.</p>
                </div>
            </div>
        </div>
</section>

<section class="section">
<div class="container">
  <div class="columns">
    <div class="is-one-third column">
        <lottie-player src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/anim/Ada-telescope.json" background="transparent"  speed="1"  loop autoplay></lottie-player>

    </div>

    <div class="column">
        <h2 class="shadow">Inclusive</h2>
        <p>The stories emphasize that anyone, regardless of identity or background, can pursue science if they are curious.</p>

        <h2 class="shadow">Accessible</h2> 
        <p>Illustrated in black-and-white for classroom printing and distribution. They are available in 19 languages and are open source.</p>

        <h2 class="shadow">Educational</h2>
        <p>A selection of resources to bring Ada alive in your classroom.</p>
    </div>
</div>
</div>
</section>

{% endblock %}
