{% extends "base.html" %}
{% block outercontent %}

<section class="section banner">
    <div class="container">
        <div class="columns">
            <div class="is-half column">
                <div class="icon-level">
                    <img src="{{ SITEURL }}/images/adventures_in_science_sm.jpg" alt="Ada's Adventures in Science header" class="u-max-full-width" />
                </div>
            </div>
            <div class="column">
                <a href="/comics/">
                <h1>Inspiration through stories</h1>
                </a>
                <p></p>
            </div>
        </div>
</section>

<div class="container">
  <div class="columns">
    <div class="is-one-third column">
        <h2 class="shadow">Empowerment &amp; Inclusivity</h2>
        <p>Ada is intentionally depicted as a girl in a working‑class Welsh setting; the stories emphasize that anyone—regardless of identity or background—can pursue science if they ask questions and collaborate effectively </p>
    </div>

    <div class="is-one-third column">
        <h2 class="shadow">Accessible Design</h2> 
        <p>Illustrated in black-and-white to facilitate easy classroom printing and distribution, the comics use a Creative Commons license so they can be freely shared and translated—initially launched in English, Welsh, Spanish, and German, and since expanded to over 14 additional languages through community contributions </p>

    </div>
    <div class="column">
        <h2 class="shadow">Educational Use</h2>
        <p>Educators incorporate the comics into class activities. One cornerstone activity is "My Adventure in Science," where children draw their own science-themed comic strips using scientific vocabulary and storytelling. Another is "What Happened Next," where students continue Ada's story—designing endings using science concepts and peer review </p>
    </div>
</div>
</div>
</section>

{% endblock %}
