{% extends "base.html" %}
{% block outercontent %}

<div class="columns">
    <div class="is-half column">
      <div class="icon-level">
        <img src="/images/compilation_cover_icon.jpg" alt="Download the comics here" />
      </div>
        <a href="/comics/">
        <h3>Comics</h3>
        </a>
      <p>Download Ada's adventures in English, Cymraeg, Deutsch, Espa&ntilde;ol &amp; more</p>
    </div>
    <div class="column">
    </div>

  </div>

  <div class="columns">
    <div class="is-half column">
      <div class="icon-level">
        <img src="/images/compilation_cover_icon.jpg" alt="Download the comics here" />
      </div>
        <a href="/comics/">
        <h3>Comics</h3>
        </a>
      <p>Download Ada's adventures in English, Cymraeg, Deutsch, Espa&ntilde;ol &amp; more</p>
    </div>
    <div class="column">
    </div>

  </div>

    </section>

{% endblock %}
