{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="four columns">
      <div class="icon-level">
        <img src="/images/compilation_cover_icon.jpg" alt="Download the comics here" />
      </div>
        <a href="/comics/">
        <h3>Comics</h3>
        </a>
      <p>Download Ada's adventures in English, Cymraeg, Deutsch, Espa&ntilde;ol &amp; more</p>
    </div>
  
    <div class="four columns">
      <div class="icon-level">
      <img src="/images/ada_head_icon.jpg" alt="Latest news of Ada's adventures" />
    </div>
      <a href="/news/">
      <h3>News</h3>
      </a>
      <p>Latest news of Ada's adventures</p>
    </div>
    <div class="four columns">
      <div class="icon-level">
      <img src="/images/ada_looking_up_icon.jpg" alt="Educational activities inspired by Ada's adventures" />
    </div>
      <a href="/education/">
        <h3>Activities</h3>
      </a>
      <p>A selection of educational activities which explore your creativity</p>
    </div>
  
  </div>
    </section>

{% endblock content %}
