
html {
  background-color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-sans-bold {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quattrocento-sans-regular-italic {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quattrocento-sans-bold-italic {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}


body, p, li {
  font-family: 'Quattrocento Sans', sans-serif !important;
  color: rgb(27,25,26)
  }
  
  .ada-navbar {
    margin: 0 !important;
  }

  .ada-navbar  a.navbar-item {
    text-transform: uppercase;
  }
  
  .article {
    text-align: left;
  }

  .header {
    background-color: rgb(36, 33, 34);
  }
  
  .section.banner {
    background-color: rgb(36, 33, 34);
    background-image: url(../images/ada_banner_bg.jpg);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .section.banner h1 {
    font-size: 4em;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
  }
  
 h1, h2, h3, h4, h5 {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.shadow {
  line-height: 1.1em;
}

  h1 {
    font-size:3.5em;
  }
  h2 {
    font-size:2.75em;
}
  h3 {
    font-size:2.25em;
  }
  h4{
    font-size:1.75em;
  }
  h5{
    font-size: 1.125em;
  }
  
  
  p {
    font-family: sans-serif;
    text-align: left;
  }
  
  p.small {
    font-size:80%;
    text-align:center;
  }
  
  ul , li {
    font-family: sans-serif;
    font-size:1.2em;
  }
  
  a {
    color:#ffca33;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    color: #555;
    background-color: #ffca33;
  }
  
  .content, .content p, .content h1, .content h2, .content h3, .content h4, .content h5 {
    color: #555;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  
  .icon-level img {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  a.text-link {
    text-decoration: none;
    background-color: #555;
    color: #fff;
    box-shadow: inset 0 -7px 0 0 rgba(19,149,186,.15);
  }
  
  a.button-secondary:hover {
    background-color: #000;
    color:#fff;
  }
  
  .footer{
    margin-top:20px;
    background-color: #fff;
  }

  .footer a {
    color: #000;
    font-size: 12px;
  }

  ul.footer-menu {
    list-style: none;
    vertical-align: middle;
  }

  ul.footer-menu li {
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 12rem;
    text-align: center;
  }
  
  .paper {
    background-color: #fff;
    /* Need position to allow stacking of pseudo-elements */
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .paper,
  .paper::before,
  .paper::after {
    /* Add shadow to distinguish sheets from one another */
    box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
  }
  
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
  }
  
  /* Second sheet of paper */
  .paper::before {
    left: 7px;
    top: 5px;
    z-index: -1;
  }
  
  /* Third sheet of paper */
  .paper::after {
    left: 12px;
    top: 10px;
    z-index: -2;
  }
  
  img {
      max-width: 100%;
      height: auto;
      }
  
  .sponsors img {
    max-width:250px;
    max-height:100px;
    text-align: center;
  }
  
  .article-title {
    font-size: 2em;
  }

.navbar {
  background-color: rgb(36, 33, 34);
}
  