
html {
  background-color: #fff;
}

body, p, li {
  font-family: 'Open Sans', sans-serif !important;
  }
  
  .navbar-item a {
    font-family: 'Patrick Hand', cursive;
  }
  
  .article {
    text-align: left;
  }

  .header {
    background-color: rgb(36, 33, 34);
  }
  
  h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: #000;
  }

  h1 {
    font-size:3.5em;
  }
  h2 {
    font-size:2.75em;
}
  h3 {
    font-size:2.25em;
  }
  h4{
    font-size:1.75em;
  }
  h5{
    font-size: 1.125em;
  }
  
  
  p {
    font-family: sans-serif;
    text-align: left;
  }
  
  p.small {
    font-size:80%;
    text-align:center;
  }
  
  ul , li {
    font-family: sans-serif;
    font-size:1.2em;
  }
  
  a {
    color:coral;
    text-decoration: none;
  }
  
  a:hover {
    color: #f26d21;
  }
  
  .content, .content p, .content h1, .content h2, .content h3, .content h4, .content h5 {
    color: #555;
  }
  
  
  
  .icon-level img {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  a.text-link {
    text-decoration: none;
    color:#f26d21;
    box-shadow: inset 0 -7px 0 0 rgba(19,149,186,.15);
  }
  
  a:hover {
    color:rgb(19,149,186);
  }
  
  a.button-secondary:hover {
    background-color: #000;
    color:#fff;
  }
  
  .footer{
    margin-top:20px;
    background-color: #fff;
  }
  
  .paper {
    background-color: #fff;
    /* Need position to allow stacking of pseudo-elements */
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .paper,
  .paper::before,
  .paper::after {
    /* Add shadow to distinguish sheets from one another */
    box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
  }
  
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
  }
  
  /* Second sheet of paper */
  .paper::before {
    left: 7px;
    top: 5px;
    z-index: -1;
  }
  
  /* Third sheet of paper */
  .paper::after {
    left: 12px;
    top: 10px;
    z-index: -2;
  }
  
  img {
      max-width: 100%;
      height: auto;
      }
  
  .sponsors img {
    max-width:250px;
    max-height:100px;
    text-align: center;
  }
  
  .article-title {
    font-size: 2em;
  }

.navbar {
  background-color: rgb(36, 33, 34);
}
  