
html {
  background-color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, p, li {
  font-family: 'Quattrocento Sans', sans-serif !important;
  color: rgb(27,25,26);
  font-size: 1.1em;
  }

p {
    margin-bottom: 1.5em;}

strong {
    font-weight: bold;
    color: #000;
  }
  
  .ada-navbar {
    margin: 0 !important;
  }

  .ada-navbar  a.navbar-item {
    text-transform: uppercase;
    font-family: 'Londrina Shadow', cursive;
    border: none;
    font-size: 1.4em;
  }
  
  .article {
    text-align: left;
  }

  .header {
    background-color: rgb(36, 33, 34);
  }
  
  .section.banner {
    background-color: rgb(36, 33, 34);
    background-image: url(../images/ada_banner_bg.jpg);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .section.banner h1 {
    font-size: 4em;
    margin-bottom: 10px;
    color: #fff;
  }
  
 h1, h2, h3, h4, h5 {
  font-family:  "Meie Script", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fancy-title {
  font-family: 'Meie Script', cursive;
  font-size: 3em;
}

.shadow {
  line-height: 1.1em;
}

.comictitle {
  font-family:  "Quattrocento Sans", sans-serif;
}
.tag-line {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2rem;;
  background-color: rgba(255,255,255,0.1);
}

.tag-line p {
  font-size: 1.2em;
  color: #fff;
}

  h1 {
    font-size:3.5em;
  }
  h2 {
    font-size:2.75em;
}
  h3 {
    font-size:2.25em;
  }
  h4{
    font-size:1.75em;
  }
  h5{
    font-size: 1.125em;
  }
  
  
  p {
    font-family: sans-serif;
    text-align: left;
  }
  
  p.small {
    font-size:80%;
    text-align:center;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
  }

  li::marker {
    color: #ffca33;
    margin: 0 .5rem 0 0;
  }
  
  a {
    color: #555;
    border-bottom: 2px dashed #ffca33;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #ffca33;
    border: none;
  }
  
  .content, .content p, .content h1, .content h2, .content h3, .content h4, .content h5 {
    color: #555;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  
  .icon-level img {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  a.text-link {
    text-decoration: none;
    background-color: #555;
    color: #fff;
    box-shadow: inset 0 -7px 0 0 rgba(19,149,186,.15);
  }
  
  a.button-secondary:hover {
    background-color: #000;
    color:#fff;
  }
  
  .footer{
    margin-top:20px;
    background-color: rgb(36, 33, 34);
    color: #fff;
  }

  .footer a, .footer p {
    color: #fff;
    border: none;
  }
  .footer h4 {
    font-family: 'Londrina Shadow', cursive;
  }

  ul.footer-menu {
    list-style: none;
    vertical-align: middle;
  }

  ul.footer-menu li {
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 12rem;
    text-align: center;
  }
  
  .paper {
    background-color: #fff;
    /* Need position to allow stacking of pseudo-elements */
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .paper,
  .paper::before,
  .paper::after {
    /* Add shadow to distinguish sheets from one another */
    box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
  }
  
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
  }
  
  /* Second sheet of paper */
  .paper::before {
    left: 7px;
    top: 5px;
    z-index: -1;
  }
  
  /* Third sheet of paper */
  .paper::after {
    left: 12px;
    top: 10px;
    z-index: -2;
  }
  
  img {
      max-width: 100%;
      height: auto;
      }
  
  .sponsors img {
    max-width:250px;
    max-height:100px;
    text-align: center;
  }
  
  .article-title {
    font-size: 2em;
  }

.navbar {
  background-color: rgb(36, 33, 34);
}




.corner-text {
    position: absolute;
    top: 30px;
    right: -40px;
    transform: rotate(45deg);
    background: #ffca33;
    color: rgb(27,25,26);
    padding: 10px 60px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

blockquote {
    padding: 15px;
    margin-left: 0;
    color: #fff;
    font-style: italic;
    background-color: rgb(36, 33, 34);
    margin-bottom: 20px;
    border-radius: 10px;
}

.activity {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
}  

@media screen and (min-width: 1024px) {
 .ada-navbar .navbar-menu {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1023px) {
  .ada-navbar .ada-navbar-logo {
    display: none;
  }
}